<!--
    HTML for lobby page here
-->

<div class="container header">
    <h1><span class="chrome">NHL</span><span class="dreams">  Fantasy Draft</span></h1>
    <a href="/signin"><button class="btn btn-light btn-sm">Sign In</button></a>
    <a href="/signup"><button class="btn btn-light btn-sm">Sign Up</button></a>
</div>

<div class="container content">
    <h2 class="dreams">Welcome to the NHL Fantasy Draft League</h2>
    <p>Log in to begin consructing your Team!</p>
    <hr>
    <h3 class="dreams">Rules</h3>
    <p>Choose from the list of players below to make a team of 5 skaters. Your challenge is to build your team within</p>
    <p>the salary cap of $30 million. Compete against other challengers to see where you rank on the leaderboard.</p>
    <hr>

    <h2 class="dreams">Teams</h2>
    <table>
        <tr>
            <th>Ranking</th>
            <th>Team Name</th>
            <th>Team Owner</th>
            <th>Goals</th>
            <th>Assists</th>
            <th>Total Points</th>
            <th>Cost</th>
        </tr>
        {{#each teamData}}
            <tr>
                <td>{{this.ranking}}</td>
                <td>{{this.teamname}}</td>
                <td>{{this.teamowner}}</td>
                <td>{{this.goals}}</td>
                <td>{{this.assists}}</td>
                <td>{{this.total_points}}</td>
                <td>${{this.total_cost}}</td>
            </tr>
        {{/each}}
    </table>
</div>
