<!--
    This is the profile page
-->

<div class="container-fluid header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h3 class="d-inline subhead dreams">Welcome, <span id="username">{{userName}}</span></h3>
            </div>
            <div class="col-md-6 text-right">
            <!-- Example single danger button -->
                <div class="btn-group">
                <button type="button" class="btn btn-lg btn-outline-primary dropdown-toggle button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </button>
                <div class="dropdown-menu">
                    <button class="btn btn-sm dropdown-item manageTeam">Manage Team</button>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<!--Main content area-->
<div class="container content">
    <div class="container box">
        <div class="row">
            <div class="col-md-6">
                <h3 class="d-inline subhead dreams">Team Manager</h3>
            </div>
            <div class="col-md-6">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <button class="nav-link active btn btn-secondary manageTeam">Create Team <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link btn btn-secondary manageTeam">Edit Team <i class="fa fa-cog fa-spin" aria-hidden="true"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container content2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <!--This is where the data will go-->
                <h3 class="dreams">Team Name: <span id="teamName">{{teamName}}</span></h3>
                <br>
                <table>
                    <tr>
                        <th>Player</th>
                        <th>Cost</th>
                        <th>Goals</th>
                        <th>Assists</th>
                        <th>Total</th>
                    </tr>
                    {{#each playerList}}
                        <tr>
                            <td>{{this.player_name}}</td>
                            <td>{{this.cap}}</td>
                            <td>{{this.goals}}</td>
                            <td>{{this.assists}}</td>
                            <td>{{this.total_points}}</td>
                        </tr>
                    {{/each}}
                </table>
                <hr>
                <table>
                    <tr>
                        <th>Ranking</th>
                        <th>Total Cost</th>
                        <th>Total Goals</th>
                        <th>Total Assists</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td>{{teamRanking}}</td>
                        <td>{{teamCost}}</td>
                        <td>{{teamGoals}}</td>
                        <td>{{teamAssists}}</td>
                        <td>{{teamTotal}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- to be implemented in future updates
<button type="btn" id="deleteAccount" data-name="{{userName}}">Delete Account</button>
-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<!--profile page script-->
<script src="/js/profile.js"></script>

